<div class="container-fluid">
    <h1>Users <button class="btn btn-primary" (click)="new()" style="margin-top:-5px;">New</button></h1>
    <div class="container-panel">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Department</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td><a [routerLink]="['/user', user.username]">{{user.username}}</a></td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.department}}</td>
                    <td> <button class="btn btn-danger btn-xs" (click)="delete(user.username)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>