<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#iot-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="">{{ title }}</a>
        </div>

        <div class="collapse navbar-collapse" id="iot-menu">
            <ul class="nav navbar-nav">
                <li><a routerLink="/assets" routerLinkActive="active">Assets</a></li>
                <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a (click)="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
